.projects-container {
  padding: var(--section-padding-y) var(--section-padding-x);
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  box-sizing: border-box;
}

.projects-heading {
  color: var(--primary);
  font-weight: 700;
  line-height: normal;
  text-align: center;
  align-self: baseline;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.project-img-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 343 / 200;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  border-bottom: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
}

.project-img-container .image {
  position: absolute;
  inset: 0;
  margin: 0;
}

.project-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.project-img-container[data-repo="project-weather-app"] .project-img {
  object-position: left center;
}

.project-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.project-paragraph {
  font-family: var(--paragraph-font);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .project-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 64px;
  }

  .project-img-container {
    width: 200px;
    height: 280px;
    aspect-ratio: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .project-text-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .button-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .project-img-container[data-repo="project-weather-app"] .project-img {
    object-position: left 25%;
    transform: scale(1.15);
    transform-origin: left center;
  }

  .projects-container {
    align-items: flex-start;
    gap: 128px;
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 40px;
  }

  .project-img-container {
    width: 100%;
    max-width: 408px;
    height: 280px;
    aspect-ratio: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .project-text-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .button-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    align-items: end;
  }
}

@media (min-width: 1513px) {
  .projects-container {
    padding-bottom: 124px;
  }
}
