.contact-container {
  width: 100%;
  box-sizing: border-box;
  padding: var(--section-padding-y) var(--section-padding-x);
}

.contact-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
}

.contact-heading {
  color: var(--primary);
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  color: var(--text);
  text-decoration: none;
}

.contact-info a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
}

.icons .icon-box {
  opacity: 0.2;
  transition: opacity 0.2 ease-in-out;
}

.icons .icon-box:hover {
  opacity: 1;
}
